<!DOCTYPE html>
<html>
<head>
    <title th:text="${pageTitle}">登出</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="refresh" content="3;URL=/">
    <link rel="stylesheet" href="css/main.css" />
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->

            <header id="header">
                <strong></strong>
                <marquee direction="left" height="30" scrollamount="5" style="color:red;"></marquee>
            </header>

            <!-- Banner -->
            <section id="banner">
                <div class="content">
                    <header>
                        <h2>您已成功登出，三秒後將返回首頁</h2>
                    </header>
                </div>
            </section>
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Search -->
            <section>
                <header>
                    <h2>Shop</h2>
                </header>
            </section>

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul  th:replace = "menu :: menu">
                    
                </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
                <div></div>
                <p class="copyright">&copy;All rights reserved.</p>
            </footer>

        </div>
    </div>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>